.pic_container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
.pic_container header h1 {
    font-size: 22px;
    letter-spacing: 1.5px;
    font-family: "Poppins",sans-serif;
    width: max-content;
    color: #fff;
}

.pic_container .pic_payment_id_info {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    margin-top: 10px;
    color: #fff;
}
.pic_container .pic_payment_id_info h2 {
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.pic_payment_form .payment_option {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 15px;
    
}
.pic_payment_form .payment_option button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--green-color);
    border: 2px solid var(--green-color);
    border-radius: 5px;
    background-color: transparent;
}
.pic_payment_form {
    font-family: "Poppins",sans-serif;
}
.pic_payment_form .pic_payment_information {
    display: flex;
    justify-content: space-between;
}
.pic_payment_form .pic_payment_information .pic_billing_information {
    width: 47%;
    background-color: #1A1A1A;
    padding: 20px 10px;
    color: #fff;
    border-radius: 5px;
}
.pic_payment_form .pic_payment_information .pic_billing_information div{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.pic_payment_form .pic_payment_information .pic_billing_information div input {
    height: 30px;
    font-size: 15px;
    letter-spacing: 1.5px;
    padding-left: 5px;
}
.pic_payment_form .pic_payment_information .pic_detail_information {
    width: 47%;
    background-color: #1A1A1A;
    padding: 20px 10px;
    border-radius: 5px;
    color: #f4f4f4;
}
.pic_payment_form .pic_payment_information .pic_detail_information .card_detail_inp_box {
    display: flex;
    flex-direction: column;
}
.pic_payment_form .pic_payment_information .pic_detail_information .card_detail_inp_box label {
    letter-spacing: 1.5px;
}
.pic_payment_form .pic_payment_information .pic_detail_information .card_detail_inp_box input {
    height: 30px;
    font-size: 15px;
    letter-spacing: 1.5px;
    padding-left: 5px;
}
.pic_payment_form .pic_payment_information .pic_detail_information .picbi_expiry_date .picb_exp_date_box_container {
    display: flex;
    gap: 20px;
}
.pic_payment_form .pic_payment_information .pic_detail_information .picbi_expiry_date .picb_exp_date_box_container .picb_exp_date_select_box {
    display: flex;
    flex-direction: column;
}
.pic_payment_form .pic_payment_information .pic_detail_information .picbi_expiry_date {
    margin: 10px 0;
}
.pic_payment_form .pic_payment_information .pic_detail_information .picbi_expiry_date .picb_exp_date_box_container .picb_exp_date_select_box  select {
    padding: 5px 10px;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
}

.pic_cofirm_payment {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 30px 0;
    gap: 10px;
}

.pic_cofirm_payment .pic_ammount_to_pay {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pic_cofirm_payment .pic_ammount_to_pay  span {
    font-size: 18px;
    color: #fff;
}
.pic_cofirm_payment .pic_proceed_payment_btn {
    width: 100%;
    max-width: 300px;
    height: 32px;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    font-size: 17px;
    background-color: var(--dark-blue);
    border-radius: 5px;
    color: #fff;
    border: none;
    transition: all .2s;
}
.pic_cofirm_payment .pic_proceed_payment_btn:hover {
    opacity: .8;
    transform: scale(1.03);
}

.pic_cofirm_payment .pic_proceed_payment_btn:active {
    opacity: 1;
    transform: scale(1);
}

.pic_cofirm_payment .pic_payment_error {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--dark-red);
    color: var(--white-gray);
    padding: 5px 10px;
    letter-spacing: 1.5px;
    border-radius: 5px;
}
.pic_cofirm_payment .pic_payment_error span {
    font-size: 14px;
}
.pic_cofirm_payment .pic_payment_error i {
    cursor: pointer;
}
.pic_checkout_loading {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    background-color: rgba(52, 70, 111, 0.402);
}


/* test cards */
.view_test_cards {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.view_test_cards button {
    padding: 5px 10px;
    letter-spacing: 1.5px;
    font-family: "Poppins",sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.test_cards_helper {
    position: absolute;
    inset: 0;
    background-color: rgba(23, 23, 242, 0.166);
    z-index: 2;
}
.test_cards_container {
    position: absolute;
    z-index: 10;
    right: 0;
    background-color: #fff;
    top: 0;
    width: 100%;
    max-width: 500px;
    height: max-content;
    padding: 10px 0;
    right: -100%;
    animation: test_cards .3s forwards;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@keyframes test_cards {
    from{right: -100%;}
    to{right: 0;}
}
.test_cards_container .test_cards_info {
    display: flex;
    align-items: center;
    gap: 50px;
}
.test_cards_container .test_cards_info  .test_cards_txt {
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    font-weight: bolder;
}
.test_cards_container .test_cards_close {
    margin-left: 10px;
    padding: 5px 10px;
    font-family: "Poppins",sans-serif;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}
.test_cards_container .test_cards_header {
    display: grid;
    grid-template-columns: 200px 150px 150px;
    padding: 5px;
    font-family: "Poppins",sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-top: 1px solid black;
    margin-top: 20px;
    border-bottom: 1px dotted black;
}
.test_cards_container .test_cards_choices {
    display: grid;
    grid-template-columns: 200px 150px 150px;
    padding: 5px;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
} 
/* test cards */

@media only screen and (max-width: 768px) {
    .pic_container {
        padding-top: 50px;
    }
    .pic_payment_form .pic_payment_information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pic_payment_form .pic_payment_information .pic_billing_information {
        width: 100%;
        max-width: 400px;
    }
    .pic_payment_form .pic_payment_information .pic_detail_information {
        width: 100%;
        max-width: 400px;
    }
    .pic_container header h1 {
        font-size: 16px;
    }
    .pic_container .pic_payment_id_info {
        gap: 3px;
    }
    .pic_container .pic_payment_id_info h2 {
        font-size: 14px;
        font-weight: 400;
    }
    .view_test_cards {
    }
    .pic_payment_form {
        padding: 0 10px;
    }
    .pic_payment_form .pic_cofirm_payment {
        padding: 0 20px 0;
    }
}