
.hero_section {
    width: 100%;
    height: calc(100vh - 80px);
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr); */
    position: relative;
    grid-template-rows: 1fr;
    /* background-image: radial-gradient(#243033, #0C1A1C); */
    display: flex;
    align-items: center;
    justify-content: center;
}



.text_banner {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
}
.text_banner .text_banner_wrap {
    text-align: center;
    color: #fff;
}
.text_banner .text_banner_wrap h1 {
    font-size: 50px;
    font-family: "Poppins",sans-serif;
}
.text_banner .txt_banner_button {
    display: flex;
    gap: 20px;
}
.text_banner .txt_banner_button .hire_me_btn {
    background-color:#CFD0D1;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    box-shadow: 0 0 20px #203547, 0 0 100px #203547, 0 0 100px #203547b7;
    font-size: 20px;
}

.text_banner .txt_banner_rate_views {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.text_banner .txt_banner_rate_views button {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    width: 170px;
    background-color: transparent;
    background-color: #54D6B6;
    color: var(--dark-black);
    /* background-image: linear-gradient(to right ,#54D6B6, #004938); */
    background-color: #54D6B6;
    text-shadow: 0 0 20px white;
    border: 1px solid white;
}

.text_banner .txt_banner_rate_views button span:nth-child(1) {
    font-size: 16px;
}
.text_banner .txt_banner_rate_views button span {
    font-family: "Poppins" , sans-serif;
    letter-spacing: 1.5px;
    font-weight: 600;
}
 .hero_img_banner {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}
 .hero_img_banner .kingkong_img {
    height: 100%;
    max-height: 500px;
    width: 100%;
    max-width: 400px;
}
.hero_section .hero_img_banner .kingkong_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero_section .hero_img_banner h1 {
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    
}
.skills_section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.skills_section .skills_text {
    font-size: 30px;
    font-family: "Poppins",sans-serif;
    padding: 10px 20px;
    letter-spacing: 2.5px;
    color: #fff;
    background-color: #5562E9;
    width: max-content;
    margin-bottom: 10px;
    border-radius: 10px;
}

.skills_section .skill_wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 10px ;
    padding: 50px 10px;
    border-radius: 10px;
    background-color: #1A1A1A;
}
.skills_section .skill_wrapper .skill {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    gap: 20px;
    cursor: pointer;
}
.skills_section .skill_wrapper .skill i {
    font-size: 55px;
    color: var(--dark-aqua);
}
.skills_section .skill_wrapper .skill h1 {
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    color: var(--dark-blue);
}


/* testimonials */

/* testimonials */

.add_rating_review {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    /* border: 1px solid #677799; */
    border-radius: 5px;
    padding: 20px;
    border-top: 1px solid var(--dark-aqua);
    margin-top: 100px;
    background-color: #316397;
}
.add_rating_review h1 {
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    color: #fff;
    background-color: #01B9EF;
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    text-shadow: 0px 0px 5px black;
}
.add_rating_review .add_rating_wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}
.add_rating_review .add_rating_wrapper i {
    font-size: 20px;
    cursor: pointer;
}

.add_rating_review .add_review_wrapper .add_review_textarea{
    resize: none;
    outline: none;
    padding: 5px;
    font-size: 17px;
}
.add_rating_review .email_input_ {
    padding: 10px 0;
}
.add_rating_review .email_input_  label {
    display: block;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    color: white;
}
.add_rating_review .email_input_ input {
    width: 100%;
    outline: none;
    height: 35px;
    padding-left: 5px;
    font-size: 17px;
    letter-spacing: 1.5px;
}
.add_review_rating_action {
    display: flex;
    justify-content: flex-end;
}
.add_review_rating_action button {
    padding: 7px 20px;
    font-size: 17px;
    letter-spacing: 1.5px;
    border-radius: 5px;
    border: none;
    background-color: var(--dark-aqua);
    color: #f4f4f4;
    cursor: pointer;
}

.add_rating_review .success_submit {
background-color: var(--green-color);
width: max-content;
padding: 5px 20px;
border-radius: 5px;
font-family: "Poppins",sans-serif;
display: flex;
gap: 10px;
align-items: center;
color: #fff;
}
.add_rating_review .success_submit i {
    cursor: pointer;
}
@media only screen and (max-width: 900px) {
    .landing_page .hero_section {
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    .landing_page .hero_section .text_banner {
        height: calc(100vh - 80px);
    } 
    .landing_page .hero_section .hero_img_banner .kingkong_img {
        height: calc(100vh - 500px);
    } 
}

@media only screen and (max-width: 640px) {
    .landing_page .hero_section .text_banner h1 {
        font-size: 30px;
    }
    .skills_section .skills_text {
        font-size: 20px;
      
    }
    .text_banner .txt_banner_button .hire_me_btn {
        font-size: 14px;
    }
    .text_banner .txt_banner_rate_views button {
      
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        width: 120px;
    }
    .text_banner .txt_banner_rate_views button span:nth-child(1) {
        font-size: 14px;
    }
    .text_banner .txt_banner_rate_views button span {
        font-size: 13px;
    }
}


@media only screen and (max-width: 440px) {
    .skills_section .skills_text {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .skills_section .skill_wrapper {
       display: flex;
       gap: 5px;
       padding: 30px 0;
       border-radius: 0;
    }
    .skills_section .skill_wrapper .skill {
        width: 49%;
        margin-top: 10px;
        border-radius: 5px;
        height: 120px;
    }
    .skills_section .skill_wrapper .skill i {
        font-size: 30px;
    }
    .skills_section .skill_wrapper .skill h1 {
       
        font-size: 16px;
    }
}