.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;    
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: var(--light-dark);
    z-index: 99;
}


.nav_banner {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 5px;
}

.nav_banner .f1_logo_img {
    width: 60px;
    height: 60px;
}
.nav_banner .f1_logo_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav_banner span {
    font-family: "Merriweather", serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;

}

.navbar ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar ul a {
    font-size: 16px;
    letter-spacing: 1.5px;
    padding: 3px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
    color: black;
    transform: scale(1);
    transition: all .3s;
    height: max-content;
    color: #fff;
}
.navbar ul a .nav_sign_in_icon {
    display: none;
}
.navbar ul a:hover {
    transform: scale(1.03);
    border-bottom: 1px solid black;
}


.navbar ul .nav_sr_link .nav_login_a{
    background-color: white;
    color: black;
}


/* nav user image */
.navbar .nav_menu_btn_logged_in {
    display: flex;
    align-items: center;
    width: 60px;
    height: 40px;
    padding: 0 5px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
    color: white;
}
.navbar .nav_menu_btn_logged_in .user_logged_in_img {
    width: 30px ;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.navbar .nav_menu_btn_logged_in .user_logged_in_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .navbar .nav_user_image {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
}
.navbar .nav_user_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* nav user image */

.navbar .nav_menu_btn {
    border: none;
    height: max-content;
    margin: auto 0;
    cursor: pointer;
    background-color: transparent;
    display: none;
}
.navbar .nav_menu_btn i {
    font-size: 20px;
}

.nav_menu_container {
    position: fixed;
    right: -100%;
    height: 100vh;
    width: 300px;
    background-color: #151719;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    top: 0;
    /* animation: .3s navmenuContainer forwards; */
    z-index: 100;
}

@keyframes navmenuContainer {
    from {right: -100%;}
    to {right: 0;}
}
@keyframes navmenuContainerClose {
    from {right: 0;}
    to {right: -100%;}
}
.nav_menu_container .nav_menu_close {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
    border-bottom: 1px dotted #707479;
}
.nav_menu_container .nav_menu_close span {
    font-size: 18px;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    color: #f4f4f4;
    font-weight: 600;
}
.nav_menu_container .nav_menu_close i {
    color: #707479;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
}
.nav_menu_container .nav_menu_close i:hover {
    color: var(--dark-red);
    transform: scale(1.03);
}
.nav_menu_helper {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.602);
    left: 0;
    top: 0;
}

.profile_container .navpi_wrapper {
    display: flex;
    padding: 10px;
    gap: 10px;
    color: #fff;
}
.profile_container .navpi_wrapper .nav_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid green;
}
.profile_container  .nav_profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile_container .navpi_wrapper .nav_profile_info  {
    display: flex;
    flex-direction: column;
}
.profile_container .navpi_wrapper .nav_profile_info span {
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
}
.profile_container .nav_profile_info span:nth-child(2) {
    font-size: 14px;
}

.profile_container .nav_profile_link {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    /* background-color: #333439; */
}
.profile_container .nav_profile_link a {
    width: 100%;
    background-color: #35353B;
    padding: 25px 10px;
    text-decoration: none;
    color: #fff;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    font-size: 16px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.profile_container .nav_profile_link a i {
    margin-left: 20px;
}
.profile_container .nav_profile_link a span {
    margin-left: 20px;
}
.profile_container .nav_profile_link a:hover {
    opacity: .7;
}
.profile_container .nav_profile_link a:active {
    opacity: 1;
}
.profile_container .nav_profile_link button {
    letter-spacing: 1.5px;
    padding: 15px 10px;
    color: #fff;
    font-family: "Poppins",sans-serif;
    border-radius: 5px;
    border: none;
    background-color: #27343C;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.profile_container .nav_profile_link button i {
    margin-left: 20px;
    font-size: 20px;
}
.profile_container .nav_profile_link button span {
    margin-left: 20px;
    font-size: 16px;
}
.profile_container .nav_profile_link button:hover {
    opacity: .7;
}
.profile_container .nav_profile_link button:active {
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    .nav_banner {
        padding: 3px 3px;
    }
    
    .nav_banner .f1_logo_img {
        width: 50px;
        height: 50px;
    }
  
    
    .nav_banner span {
        font-size: 18px;
    }
    .navbar ul a {
        font-size: 14px;
        padding: 3px 7px;
    }
}
@media only screen and (max-width: 710px) {
    
  .navbar ul a{
    display: none;
  } 
  .navbar .nav_menu_btn {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
    .navbar {
        height: 70px;
    }
    
}
@media only screen and (max-width: 600px) {
    .navbar ul a .nav_sign_in_icon {
        display: block;
        height: max-content;
        margin: 5px 0 0;
    }
    
    .navbar ul a .nav_sign_in_txt {
        display: none;
    }
    .navbar ul {
        gap: 10px;
    }
}
@media only screen and (max-width: 495px) {
    .navbar {
        height: 50px;
    }
    .navbar .nav_banner .f1_logo_img {
        width: 40px;
        height: 40px;
    }
    .navbar ul {
        gap: 10px;
    }
    .navbar ul a {
        padding: 3px;
        font-size: 14px;
    }
    .navbar .nav_menu_btn i {
        font-size: 17px;
    }
}
