.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;    
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 99;
}


.nav_banner {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 5px;
}

.nav_banner .f1_logo_img {
    width: 60px;
    height: 60px;
}
.nav_banner .f1_logo_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav_banner span {
    font-family: "Merriweather", serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #27343C;
}

.navbar ul {
    display: flex;
    gap: 20px;
}
.navbar ul a {
    font-size: 18px;
    letter-spacing: 1.5px;
    padding: 3px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
    color: black;
    transform: scale(1);
    transition: all .3s;
}
.navbar ul a .nav_sign_in_icon {
    display: none;
}
.navbar ul a:hover {
    transform: scale(1.03);
    border-bottom: 1px solid black;
}

.navbar .nav_menu_btn {
    border: none;
    height: max-content;
    margin: auto 0;
    cursor: pointer;
    background-color: transparent;
}
.navbar .nav_menu_btn i {
    font-size: 20px;
}

.nav_menu_container {
    position: fixed;
    right: -100%;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    top: 0;
    /* animation: .3s navmenuContainer forwards; */
    z-index: 100;
}

@keyframes navmenuContainer {
    from {right: -100%;}
    to {right: 0;}
}
@keyframes navmenuContainerClose {
    from {right: 0;}
    to {right: -100%;}
}
.nav_menu_container .nav_menu_close i {
    margin: 10px 0 0 10px;
    font-size: 20px;
    cursor: pointer;
}

.nav_menu_helper {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.602);
    left: 0;
    top: 0;
}


.profile_container  .nav_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    margin: 0 auto;
}
.profile_container  .nav_profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile_container .nav_profile_info  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.profile_container .nav_profile_info span {
    font-family: "Poppins",sans-serif;
}
.profile_container .nav_profile_info span:nth-child(2) {
    font-size: 14px;
}

.profile_container .nav_profile_link {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}
.profile_container .nav_profile_link a {
    width: 100%;
    background-color: #27343C;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    font-size: 14px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}

.profile_container .nav_profile_link a:hover {
    opacity: .7;
}
.profile_container .nav_profile_link a:active {
    opacity: 1;
}
.profile_container .nav_profile_link button {
    height: 30px;
    letter-spacing: 1.5px;
    color: #fff;
    font-family: "Poppins",sans-serif;
    border-radius: 5px;
    border: none;
    background-color: #27343C;
    cursor: pointer;
}
.profile_container .nav_profile_link button:hover {
    opacity: .7;
}
.profile_container .nav_profile_link button:active {
    opacity: 1;
}
@media only screen and (max-width: 710px) {
    
    .navbar .nav_banner span {
        display: none;
    }
}
@media only screen and (max-width: 640px) {
    .navbar {
        height: 70px;
    }
    
}
@media only screen and (max-width: 600px) {
    .navbar ul a .nav_sign_in_icon {
        display: block;
        height: max-content;
        margin: 5px 0 0;
    }
    
    .navbar ul a .nav_sign_in_txt {
        display: none;
    }
    .navbar ul {
        gap: 10px;
    }
}
@media only screen and (max-width: 495px) {
    .navbar {
        height: 50px;
    }
    .navbar .nav_banner .f1_logo_img {
        width: 40px;
        height: 40px;
    }
    .navbar ul {
        gap: 10px;
    }
    .navbar ul a {
        padding: 3px;
        font-size: 14px;
    }
    .navbar .nav_menu_btn i {
        font-size: 17px;
    }
}
