.sign_in_page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sign_in_page .sign_in_form {
    width: 100%;
    max-width: 420px;
    border: 1px solid gray;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    background-color: #1A1A1A;
}


.sign_in_page .sign_in_form .sip_messages .sp_message {
    margin-top: 10px;
    background-color: #35773B;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}
.sign_in_page .sign_in_form .sip_messages .sp_message span{
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
}
.sign_in_page .sign_in_form .sip_messages .sp_message span:nth-child(1){
    font-size: 14px;
}
.sign_in_page .sign_in_form .sip_messages .sp_message .close_sp_message{
  padding: 0 5px;
  border: 1px solid #fff;
  cursor: pointer;
}
.sign_in_page .sign_in_form .sif_header_text span{
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 600;
}
.sign_in_page .sign_in_form .sip_messages .sip_error_message_container{
    margin-top: 10px;
}

.sign_in_page .sign_in_form .sip_messages .sip_error_message_container .sip_error_message_wrapper{
    padding: 5px 5px 5px 10px;
    background-color: #BD1825;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sign_in_page .sign_in_form .sip_messages .sip_error_message_container .sip_error_message_wrapper span {
    font-family: 'Poppins',sans-serif;
}
.sign_in_page .sign_in_form .sip_messages .sip_error_message_container .sip_error_message_wrapper .sipe_message {
    font-size: 14px;
    letter-spacing: 1px;
}
.sign_in_page .sign_in_form .sip_messages .sip_error_message_container .sip_error_message_wrapper .sipe_close_err {
    padding: 0 5px;
    border: 1px solid #fff;
    cursor: pointer;
}
.sign_in_page .sign_in_form .sip_inp_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.sign_in_page .sign_in_form .sip_inp_container label {
    font-size: 18px;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1px;
    display: block;
    z-index: 2;
}
.sign_in_page .sign_in_form .sip_inp_container input {
    height: 40px;
    font-size: 17px;
    padding-left: 5px;
    letter-spacing: 1.5px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    background-color: transparent;
    color: #fff;
}
.sign_in_page .sign_in_form .sip_inp_container .sif_password_container {
    width: 100%;
    position: relative;
}
.sign_in_page .sign_in_form .sip_inp_container .sif_password_container i {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: max-content;
    margin: auto 0;
    cursor: pointer;
    padding: 5px;
}
.sign_in_page .sign_in_form button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-family: "Poppins",sans-serif;
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 600;
    background-color: #111B36;
    border: none;
    color: #fff;
}   
.sign_in_page .sign_in_form .sif_sign_in_link {
    margin-top: 15px;
}
.sign_in_page .sign_in_form .sif_sign_in_link p {
    font-family: 'Poppins',sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width: 500px) {
    .sign_in_page {
        padding: 5px;
        height: calc(100vh - 70px);
    }
    .sign_in_page .sign_in_form .sif_sign_in_link p {
        font-size: 14px;
    }
}