

/* .as_container .streamer_video_container {
    height: 500px;
    border: 1px solid black;
} */
.as_container {
    min-height: 100vh;
    height: max-content;
}
.as_container .as_live_text {
    margin: 20px auto;
    width: max-content;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap:20px;
    font-family: "Poppins",sans-serif;
    border-radius: 5px;
    letter-spacing: 1.5px;
    background-color: var(--dark-red);
    color: white;
}
.as_container .as_live_text span {
    display: flex;
    align-items: center;
    gap: 5px;
}
.as_live_content {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: 30px auto;
    gap: 30px;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.as_live_content .streamer_video_container {
    height: 400px;
    width: 700px;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.as_live_content .streamer_video_container .as_stream_vid_loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(128, 128, 128, 0.569);
}
.as_live_content .streamer_video_container video {
    width: 100%;
    border: 1px solid white;
    height: 600px;
    margin-top: -100px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.as_live_content .joined_viewer_container{
    position: absolute;
    left: 0;
    padding: 5px 10px;
    background-color: var(--dark-red);
    color: white;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
}


.as_live_content .stream_chat {
    border: 1px solid gray;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.as_live_content .stream_chat .as_sca_header {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--dark-aqua);
    padding: 5px 10px;
    font-family: "Poppins",sans-serif;
    border-radius: 5px;
    letter-spacing: 1.5px;
    gap: 10px;
    color: #fff;
}
.as_live_content .stream_chat  .chat_messages_container {
    margin-top: 40px;
    height: 350px;
    overflow-y: auto;
    padding-bottom: 20px;
}
.as_live_content .stream_chat  .chat_messages_container .as_chat_wrapper {
    margin: 5px 0;
    padding-bottom: 5px;
}
.as_live_content .stream_chat  .chat_messages_container .as_chat_wrapper span{
    font-family: "Poppins",sans-serif;
}
.as_live_content .stream_chat  .chat_messages_container .as_chat_wrapper .as_chat_msg_info{
    display: flex;
    gap: 10px;
}
.as_live_content .stream_chat  .chat_messages_container .as_chat_wrapper .as_chat_msg_info .as_chat_img_wrapper{
    width: 30px ;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
}
.as_live_content .stream_chat  .chat_messages_container .as_chat_wrapper .as_chat_msg_info .as_chat_img_wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.as_live_content .stream_chat  .chat_messages_container .as_chat_wrapper .as_chat_msg_info .as_chat_text_wrapper {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.476);
}
.as_live_content .stream_chat form {
    width: 100%;
    display: flex;
    height: 30px;
    gap: 5px;
}
.as_live_content .stream_chat form input {
    width: 100%;
    font-size: 16px;
    letter-spacing: 1.5px;
    height: 100%;
    padding-left: 5px;
    font-family: "Poppins",sans-serif;
}
.as_live_content .stream_chat form button {
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    padding: 0 10px;
    cursor: pointer;
}

@media only screen and (max-width:700px) {
    .as_live_content .stream_chat {
        width: 100%;
        max-width: 500px;
        margin-top: -20px;
    } 
    .as_live_content .streamer_video_container {
        border-radius: 0;
    } 
}
@media only screen and (max-width:550px) {
    .as_live_content .streamer_video_container {
        height: 300px;
        border-radius: 0;
    } 
    .as_live_content .streamer_video_container video {
        margin-top: -150px;
    }
}
@media only screen and (max-width:430px) {
    .as_live_content .streamer_video_container {
        height: 250px;
        border-radius: 0;
    } 
    .as_live_content .streamer_video_container video {
        margin-top: -250px;
        height: 700px;
        transform: rotateY(180deg)  scale(1.2);
        -webkit-transform:rotateY(180deg)  scale(1.2); /* Safari and Chrome */
        -moz-transform:rotateY(180deg)  scale(1.5); /* Firefox */
    }
}
@media only screen and (max-width:400px) {
    .as_live_content .streamer_video_container {
        height: 220px;
        border-radius: 0;
    } 
    .as_live_content .streamer_video_container video {
        margin-top: -250px;
        height: 700px;
        transform: scale(1.3);
        transform: rotateY(180deg);
        -webkit-transform:rotateY(180deg); /* Safari and Chrome */
        -moz-transform:rotateY(180deg); /* Firefox */
    }
}