.lii_container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lii_container .livestream_input_info{
    width: 100%;
    max-width: 300px;
    height: max-content;
    padding: 10px;
    border: 1px solid gray;
}
.lii_container .livestream_input_info div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-family: "Poppins",sans-serif;
}
.lii_container .livestream_input_info div input {
    height: 30px;
    letter-spacing: 1.5px;
    padding-left: 5px;
    font-size: 17px;
}

.lii_container .livestream_input_info button {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    cursor: pointer;
}