.lse_loader_container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.402);
    z-index: 99999999;
}
.lse_livestream_list {
    padding: 20px 30px;
}
.lse_livestream_list .lse_stream_list {
    width: 100%;
    height: max-content;
    display: flex;
    gap: 20px;
    flex-wrap: wrapx;
}
.lse_livestream_list .lse_stream_list button{
    width: 250px;
    height: 170px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid gray;
    cursor: pointer;
}
.lse_livestream_list .lse_stream_list button .lse_stream_thumbnail{
    width: 100%;
    height: 130px;
}
.lse_livestream_list .lse_stream_list button .lse_stream_thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lse_livestream_list .lse_stream_list button p {
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0 5px;
}
.lii_container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.444);
}

.lii_container .livestream_input_info{
    width: 100%;
    max-width: 450px;
    height: max-content;
    padding: 15px;
    border: 1px solid gray;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
}

.lii_container .livestream_input_info .lli_button_close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--dark-red);
    border: none;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
} 
.lii_container .livestream_input_info .lli_button_close:hover {
    opacity: .8;
}
.lii_container .livestream_input_info .lli_button_close:active {
    opacity: 1;
}
.lii_container .livestream_input_info div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-family: "Poppins",sans-serif;
}
.lii_container .livestream_input_info div input {
    height: 30px;
    letter-spacing: 1.5px;
    padding-left: 5px;
    font-size: 17px;
}

/* .lii_container .livestream_input_info button {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    cursor: pointer;
} */
.lii_container .livestream_input_info .image_preview {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid gray;
}
.lii_container .livestream_input_info .image_preview  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lii_container .livestream_input_info div button {
    cursor: pointer;
}
.lii_container .livestream_input_info .lli_proceed_btn_container button {
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    background-color: var(--dark-aqua);
    color: #fff;
    transition: all .3s;
}
.lii_container .livestream_input_info .lli_proceed_btn_container button:hover {
    opacity: .8;
}
.lii_container .livestream_input_info .lli_proceed_btn_container button:active {
    opacity:1;
}