.vs_loading_container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.402);
    z-index: 99999999;
}
.vs_container {
    min-height: 100vh;
    height: max-content;
    padding: 20px 5px;
    display: flex;
    gap: 30px;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.vs_video_container {
    width: 100%;
    max-width: 700px;
    border: 1px solid gray;
    height: 400px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.vs_video_container .vs_video_bg_play {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.vs_video_container .vs_video_bg_play .vs_play_button {
    padding: 5px 20px;
    font-size: 25px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    z-index: 99999;
    transition: all .3s;
}
.vs_video_container .vs_video_bg_play .vs_play_button:hover {
    transform: scale(1.03);
    background-color: rgba(128, 128, 128, 0.327);
}
.vs_video_container .vs_video_bg_play .vs_play_button:active {
    transform: scale(1);
    background-color: transparent;
}
.vs_video_container  .vs_video_loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.451);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999999;
}
.vs_video_container video {
    width: 100%;
    height: 600px;
    margin-top: -100px;
    transform: rotateY(180deg)  scale(1.2);
    -webkit-transform:rotateY(180deg)  scale(1.2); /* Safari and Chrome */
    -moz-transform:rotateY(180deg)  scale(1.5); /* Firefox */
}
.vs_container .vs_live_text {
    width: max-content;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap:20px;
    font-family: "Poppins",sans-serif;
    border-radius: 5px;
    letter-spacing: 1.5px;
    background-color: var(--dark-red);
    color: white;
    position: absolute;
}
.vs_container .vs_live_text span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.vs_video_container .vs_viewer_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--dark-red);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    letter-spacing: 1.5px;
}

.vs_chat_container {
    width: 100%;
    max-width: 350px;
    border: 1px solid gray;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px;
    position: relative;
}
.vs_chat_container .vs_sca_header {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--dark-aqua);
    padding: 5px 10px;
    font-family: "Poppins",sans-serif;
    border-radius: 5px;
    letter-spacing: 1.5px;
    gap: 10px;
    color: #fff;
}

.vs_chat_container .vs_chat_messages {
    margin-top: 40px;
    height: 350px;
    overflow-y: auto;
    padding-bottom: 20px;
}
.vs_chat_container .vs_chat_messages .vs_chat_msg_wrapper {
    margin: 5px 0;
    padding-bottom: 5px;
}
.vs_chat_container .vs_chat_messages .vs_chat_msg_wrapper span {
    font-family: "Poppins",sans-serif;
}
.vs_chat_container .vs_chat_messages .vs_chat_msg_wrapper .vs_chat_mgs_u_info{
    display: flex;
    gap: 10px;
}
.vs_chat_container .vs_chat_messages .vs_chat_msg_wrapper .vs_chat_mgs_u_info .vs_chat_img_wrapper {
    width: 30px ;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
}
.vs_chat_container .vs_chat_messages .vs_chat_msg_wrapper .vs_chat_mgs_u_info .vs_chat_img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vs_chat_container .vs_chat_messages .vs_chat_msg_wrapper .vs_chat_mgs_u_info .vs_chat_text_wrapper {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.476);
}
.vs_chat_container  form {
    width: 100%;
    display: flex;
    height: 30px;
    gap: 5px;
}
.vs_chat_container  form input {
    width: 100%;
    font-size: 16px;
    letter-spacing: 1.5px;
    height: 100%;
    padding-left: 5px;
    font-family: "Poppins",sans-serif;
}
.vs_chat_container  form button {
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    padding: 0 10px;
    cursor: pointer;
}

@media only screen and (max-width:700px) {
    .vs_container {
        padding: 20px 0;
    }
    .vs_container .vs_chat_container {
        width: 100%;
        max-width: 500px;
        margin-top: -20px;
    } 
    
    .vs_video_container{
        height: 350px;
    }
    .vs_video_container video{
        margin-top: -150px;
    }
}
@media only screen and (max-width:500px) {
    .vs_video_container{
        height: 300px;
    }
    .vs_video_container video{
        margin-top: -170px;
    }
}
@media only screen and (max-width:400px) {
    .vs_video_container{
        height: 220px;
    }
    .vs_video_container video{
        margin-top: -200px;
    }
}