.chat_app_nav {
    width: max-content;
    margin: 5px auto 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}
.chat_app_nav a {
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid gray;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    color: black;
    border-radius: 5px;
    opacity: 1;
    transform: scale(1);
    transition: all .3s;
    background-color: #2135499c;
    color: #fff;
}
.chat_app_nav a:hover {
    opacity: .6;
    transform: scale(1.03);
}
.chat_app_nav a:active {
    opacity: 1;
    transform: scale(1);
}
/* .chat_app_container {
    border: 1px solid black;
    height: 550px;
    width: 100%;
    max-width: 1100px;
    margin: 20px auto 0 auto;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
    grid-row: auto;
} */

.cas_need_login {
    background-color: rgba(128, 128, 128, 0.454);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cas_need_login .cas_need_login_wrapper{
    width: 200px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.cas_need_login  a {
    letter-spacing: 1.5px;
    font-family: "Poppins",sans-serif;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

@media only screen and (max-width: 640px) {
    .cas_need_login {
        top: 70px;
    }
}
@media only screen and (max-width: 500px) {
    .cas_need_login {
        top: 50px;
    }
    .chat_app_nav a {
        text-decoration: none;
        padding: 5px 10px;
        font-size: 12px;
    }
}