.chat_app_container {
    border: 1px solid white;
    height: 550px;
    width: 100%;
    max-width: 1100px;
    margin: 20px auto 0 auto;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
    grid-row: auto;
    position: relative;
    background-color: #1A1A1A;
}


@media only screen and (max-width: 800px) {
.chat_app_container {
    border-radius: 0;
    margin: 5px auto 0 auto;
    border: 1px solid gray;
}
}